# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#EAGLE history
wiring/*.b#*
wiring/*.s#*

# avr
*.hex
*.elf
